################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/HoloLensDetector/bin/x86/Release
/HoloLensDetector/obj
